// Import page-specific CSS files here.
@import "home";

.map {
  margin-top: 14px;
}

.card-dog {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-dog-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%
}
