<div class="container-fluid">
  <div class="row">
    <div class="col-7 mt-3">
      <div class="row">
        <% @dogs.order(:id).each do |dog| %>
          <div class="col-4">
            <%= render 'pages/index_card', dog: dog %>
          </div>
        <% end %>
        <% if @dogs.empty? %>
          <div class="container">
            <h1>No results found!</h1>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-5 ps-0 px-0">
      <div style="width: 100%; height: calc(100vh - 70px); position: sticky; top: 70px; left: 0;"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
