<div class="container ">
  <div class="d-flex justify-content-between my-2">

      <h1><%= @dog.name %></h1>

      <button type="button" class="btn btn-light"><i class="fa-regular fa-heart"></i> Save</button>

  </div>
  <div class="row">
    <div class="col-sm-3 col-3">
      <img src="..." class="rounded float-start" alt="...">
    </div>
    <div class="col-sm-9 col-9">
      <div class="row">
        <div class="col-8 col-sm-6">
          Level 2: .col-8 .col-sm-6
        </div>
        <div class="col-4 col-sm-6">
          Level 2: .col-4 .col-sm-6
        </div>
        <div class="col-8 col-sm-6">
          Level 2: .col-8 .col-sm-6
        </div>
        <div class="col-4 col-sm-6">
          Level 2: .col-4 .col-sm-6
        </div>
      </div>
      </div>
  </div>
</div>
