<h1><%= "#{@user.name}'s Bookings" %></h1>
<% if @bookings.count > 0 %>
  <% @bookings.each do |booking| %>
      <%= render 'pages/booking_card', booking: booking %>
  <% end %>
<% else %>
  <p><%= "You have no bookings!"%></p>
<% end %>
