<div class="card m-4 rounded-4" style="width: 18rem;">
  <div class="card-body">
      <div class="h-500px">
        <%= image_tag 'aria.jpg', alt: "text", class: "card-img-top img-fluid"  %>
      </div>
  </div>
</div>
