<div class="row w-100">
  <div class="col-6">
    <div data-home-target="dogOne"><%= render 'pages/card_home', dog: @dogs[0] %></div>
  </div>
  <div class="col-6">
    <p><%=@dogs[0].description%></p>
  </div>
</div>
