<div class="d-flex justify-content-between" style="height: calc(100vh - 70px)">
  <div class="left d-flex align-items-center w-50" style="background: red;">
        <div class="custom-search">
        <%= form_with url: root_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "custom-search-input",
                placeholder: "Search a dog to rent..."
            %>
          <%= button_tag type: "submit", class: "custom-search-botton" do %>
            <i class="fa-solid fa-dog"></i>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="right d-flex align-items-center justify-content-center w-50">
  <div class="main-text">
    <h1>Share Your Dog.</h1>
  </div>
  </div>
</div>
