.button-choice-yes {
  border: 0;
  border-radius: 24px;
  background: #F18842 !important;
  color: white;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  margin: 5px;

}

.button-choice-yes:hover {
  background: #4ead3d !important;
  transition: 1s;
}

.button-choice-no {
  border: 0;
  border-radius: 24px;
  background: #F18842 !important;
  color: white;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  margin: 5px;

}

.button-choice-no:hover {
  background: #e03e11!important;
  transition: 1s;

}
