.card_index {

  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.178);
  overflow: hidden;
  transition: all ease 0.3s;

  &:hover {
    transform: scale(1.005);

  }

  .index-carousel {
    display: none;
  }


  .card-img {
    height: 300px;
    object-fit: cover;
  }

  .black-semi-bold {
    color: black;
    font-weight: 200;
  }

  .black-bold {
    color: black;
    font-weight: bold;
  }
  p {
    color: rgb(62, 62, 62);
  }
  position: relative;
  .card {
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.178);
  }

}

.card-dog-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%
}
