// #main_image {
//   object-fit: contain;
//   height: 720px;
// }

img {
  object-fit: contain;
  border-radius: 8px;
  // height: 50%;
}

.dog-grid {
  img {
    object-fit: cover;
    border-radius: 16px;
    height: 100%;
    padding: 0px;
  }
}
.avatar {
  object-fit: cover;
}

// .product-img-container {
//   height: 720px;
// }
