
.navbar .btn-account {
  border-radius: 12px;
  background: rgb(32, 44, 57) !important;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 5px;

}
.navbar {
  margin-bottom: 0;
  position: sticky;
  z-index: 999999;
  top: 0;
  justify-content: space-between;
  background: white;
  color: rgb(32, 44, 57);
  box-shadow: 0px 10px 10px -15px #111;
  .nav-link{
  text-decoration: none;
  padding: 5px;
  }

  // .nav-link{
  //   text-decoration: none;

  // }
}
