
.navbar .btn-account {
  border-radius: 24px;
  background: #F29559 !important;
  color: white;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  margin: 5px;

}
.navbar {
  margin-bottom: 0;
  position: sticky;
  z-index: 999999;
  top: 0;
  justify-content: space-between;
  background: #f15f23;
  color: rgb(255, 255, 255);
  box-shadow: 0px 10px 10px -15px #111;
  .nav-link{
  text-decoration: none;
  padding: 5px;
  }

  // .nav-link{
  //   text-decoration: none;

  // }
}

// <!-- HTML !-->
// <button class="button-52" role="button">Button 52</button>

// /* CSS */
// .button-52 {
//   font-size: 16px;
//   font-weight: 200;
//   letter-spacing: 1px;
//   padding: 13px 20px 13px;
//   outline: 0;
//   border: 1px solid black;
//   cursor: pointer;
//   position: relative;
//   background-color: rgba(0, 0, 0, 0);
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
// }

// .button-52:after {
//   content: "";
//   background-color: #ffe54c;
//   width: 100%;
//   z-index: -1;
//   position: absolute;
//   height: 100%;
//   top: 7px;
//   left: 7px;
//   transition: 0.2s;
// }

// .button-52:hover:after {
//   top: 0px;
//   left: 0px;
// }

// @media (min-width: 768px) {
//   .button-52 {
//     padding: 13px 50px 13px;
//   }
// }
