
.navbar.btn-account {
  border-radius: 12px;
  background: rgb(32, 44, 57) !important;
  color: white;
  padding: 10px;

}
.navbar {
  justify-content: space-between;
  background: white;
  color: rgb(32, 44, 57);
  box-shadow: 0px 10px 10px -15px #111;
  text-decoration: none;

  // .nav-link{
  //   text-decoration: none;

  // }
}
