.dog-grid{
  height: 400px;

  .row-1 img{
    height: 400px; /* Set the height of the container */

  }
  .row-2 {
    height: 400px; /* Set the height of the container */

  }
}

.reserve-btn {
  border-radius: 24px;
  background: #F29559 !important;
  color: white;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  margin: 5px;
  border: none;
  width: 100%

}
